<div class="col-md-12">
  <% @random_publications.each do |publication|%>
    <div class="articles col-lg-4 col-md-6 col-sm-6">
      <div class="wrap-image">
        <div class="publication_image">
          <%= link_to publication do %>
            <%= image_tag (publication.avatar_url) if publication.avatar? %>
          <% end %>
        </div>
      </div>
      <h4>
        <%= link_to publication.title, publication %>
      </h4>

      <div class="excerpt">
        <p><%= publication.short_description %></p>
      </div>
    </div>
  <% end %>
</div>