<%= link_to('create new user', new_user_path, class: 'btn create-user') %>

<div class="col-md-12">
  <h2 class="text-center">Admin Page</h2>
</div>
<div class="info-page col-md-12">
	  
	  <div class="col-lg-6 col-md-6 col-sm-6">
			<h4>
				Admins
			</h4>

			<div class="excerpt-info">
					
				<ul class="list-group info">
					<li class="col-lg-12 col-md-12 col-sm-12 list-group-item">
						<span class="col-lg-6 col-md-6 col-sm-6">Email</span>
						<span class="col-lg-6 col-md-6 col-sm-6">Destroy</span>
					</li>
				</ul>
				
				<%= render partial: 'users_admin' %>
 			</div>

 		</div>

 		<div class="col-lg-6 col-md-6 col-sm-6">
			<h4>
				Copywraiters
			</h4>

			<div class="excerpt-info">
				<ul class="list-group info">
					<li class="col-lg-12 col-md-12 col-sm-12 list-group-item">
						<span class="col-lg-6 col-md-6 col-sm-6">Email</span>
						<span class="col-lg-6 col-md-6 col-sm-6">Destroy</span>
					</li>
				</ul>

				<%= render partial: 'copywriters' %>
				
 			</div>

 		</div>

	
</div>

