html {
    position: relative;
    min-height: 100%;
    color: #686868;
}
body {
    margin-bottom: 50px;

    #myCarousel {
        margin-bottom: 20px;
    }
    
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
}

footer, .navbar {
	background-color: #000000;
	border-radius: 0px;
}

.publication_image {
    width: 500px;
    margin: 0 auto;
    img {
        width: 100%;
    }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.carousel-inner {
    height: 353px;
    text-align: center;
}