<footer id="footer" class="footer">
	<div class="container">
    <h3 class="navbar-text">Show your Interest <br> and contact us</h3>
    <div id="phone" class="col-lg-4 col-md-4 col-sm-4">
			<span class="icon center-block"></span>
			<h4>Dnepr</h4>
			<br>
			+38 097 918 25 24<br>
		</div>

		<div id="adress" class="col-lg-4 col-md-4 col-sm-4">
			<span class="icon center-block"></span>
			<h4>Dnepr</h4>
		</div>

		<div id="mail" class="col-lg-4 col-md-4 col-sm-4">
			<span class="icon center-block"></span>
			<h4>Dnepr</h4>
			<br>
			<a href="mailto:hamburg@bubblesfilm.com">happysuslikrealist@gmail.com</a><br>
		</div>
  </div>
</footer>